body {
    font-family: 'Segoe UI';
    background: radial-gradient(circle at top, #0a0f1f, #000);
    color: white;
    margin: 0;
}

.app {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.subtitle {
    text-align: center;
    color: #aaa;
}

.resumo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.card {
    background: #111;
    padding: 15px;
    border-radius: 16px;
    text-align: center;
}

.card strong {
    font-size: 18px;
    font-variant-numeric: tabular-nums;
}

.destaque {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    box-shadow: 0 0 20px rgba(0, 200, 255, 0.5);
}

.meta-card {
    background: #111;
    margin-top: 15px;
    padding: 15px;
    border-radius: 16px;
    text-align: center;
}

.meta-card input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

.barra {
    width: 100%;
    height: 10px;
    background: #222;
    border-radius: 10px;
}

#progresso {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #111;
    margin: 8px 0;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.entrada {
    color: #00e676;
}

.saida {
    color: #ff5252;
}

.fab {
    position: fixed;
    bottom: 25px;
    right: 20px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    border: none;
    font-size: 30px;
    color: white;
}

.modal {
    display: none; /* começa escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #000000aa;

    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #111;
    padding: 20px;
    width: 90%;
    max-width: 320px;
    border-radius: 16px;
    animation: subir 0.2s ease;
}

@keyframes subir {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-content input,
.modal-content select,
.modal-content button {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

#inputGuardado {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
    text-align: center;
}

.cancelar {
    background: red;
}